# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# builder.pex
src/pex-builder/build

# locally built wheels for Dockerfile.dagster-manylinux-builder
wheels/*whl

# PyCharm IDE Config files
.idea/