name: Serverless Job Launch
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
env:
  DAGSTER_CLOUD_URL: ${{ secrets.DAGSTER_CLOUD_SERVERLESS_URL }}

jobs:
  dagster_cloud_launch:
    runs-on: ubuntu-latest
    name: Dagster Serverless Job Launch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}
      - name: Launch a job on Dagster Cloud serverless
        uses: ./actions/utils/run
        with:
          # differently named location (manually deployed), so that this launch integration test
          # does not have race-y collisions with the deployment integration tests
          location_name: from_gh_action_for_launch
          job_name: simple_job
        env:
          DAGSTER_CLOUD_API_TOKEN: ${{ secrets.DAGSTER_CLOUD_SERVERLESS_API_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
